<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <title>Acerca de nosotros</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/home">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contactos">Contactos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/acerca_de">Acerca de nosotros</a>
            </li>

        </ul>
    </div>
</nav>
<h1>Misión</h1>
<p> Nuestra misión en la empresa de papelería es ser el aliado confiable
    y la fuente preferida de suministros y soluciones de papelería para
    individuos, estudiantes y pequeñas empresas en nuestra comunidad.
    Nos comprometemos a ofrecer productos de alta calidad, un servicio
    excepcional y precios competitivos para satisfacer las necesidades
    variadas de nuestros clientes. Además, buscamos fomentar un entorno
    donde la creatividad y la productividad puedan florecer, brindando
    los recursos necesarios para que las ideas cobren vida en papel.</p>

<h1>Visión</h1>
<p>Nuestra visión es convertirnos en la papelería líder en nuestra área,
    reconocida por nuestra amplia gama de productos de calidad y por el
    excelente servicio al cliente que ofrecemos. Aspiramos a ser un punto
    de referencia en cuanto a innovación en productos y enfoques en el
    sector de la papelería, adaptándonos constantemente a las cambiantes
    necesidades de nuestros clientes y al avance tecnológico. A medida
    que crecemos, nos esforzamos por mantener nuestro compromiso con la
    sostenibilidad y minimizar nuestro impacto ambiental, trabajando hacia
    un futuro en el que la excelencia en papelería se combine con la
    responsabilidad ambiental. </p>



<div class="mt-5 p-4 bg-dark text-white text-center">

</div>
</body>
</html>